// Official Editor style document is here https://www.figma.com/file/5erjFwt6vvOS6GDNyQfU7X/Editor-Theme-Light-WIP?node-id=0%3A1
// Editor theme light.

// Backgrounds
$editor-bg-primary     = #F5F5F5
$editor-bg-secondary   = #EAEAEA
$editor-bg-third       = #DCDCDC

// Fonts
$editor-font-size      = 14px
$editor-font-primary   = #474747
$editor-text-selection = #ffff80

// Node data flow
$ndf-call              = #597EFF
$ndf-float             = #53DB61
$ndf-int               = #00C7AF
$ndf-string            = #DB53CD
$ndf-bool              = #C70000

.editor_window_logo
  fill $editor-font-primary 
  max-width 22px
  max-height 22px

.editor-bg-primary
  background-color $editor-bg-primary

.editor-bg-secondary
  background-color $editor-bg-secondary

.editor-title
  text-align center

@font-face
  font-family 'IBMPlexSans-Regular'
  src url('/statics/fonts/IBMPlexSans-Regular.ttf') format("truetype")

html
  background-color $editor-bg-primary

body
  font-family 'IBMPlexSans-Regular'
  font-size $editor-font-size
  color $editor-font-primary

::-moz-selection 
  background $editor-text-selection

::selection 
  background $editor-text-selection

.noselect
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none