// app global css in Stylus form

.welcome-card{
  width: 100%
  max-width: 550px
}

.amethyst-titlebar{
    //background-blend-mode: overlay;
    //border: 3px solid rgba(255, 255, 255, 0.22);
}

html {
    //background: linear-gradient(211.94deg, #21013A 0%, #0E2145 100.57%);
}
