// This file is removing default styling.
html, body {
    padding: 0px !important;
    margin: 0px !important;
    overflow: hidden;
}

* {
    ::selection { background: var(--text-selection) !important; /* WebKit/Blink Browsers */ }
    ::-moz-selection { background: var(--text-selection) !important; /* Gecko Browsers */ }
}